@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  min-height: 100vh;
  background: url('/forest-bg.png') center/cover no-repeat fixed;
}

body {
  color: #cbd5e0; /* A light gray for text */
}
