aiomysql==0.2.0
chromadb
discord.py==2.3.2
faiss-cpu==1.11.0
httpx==0.27.0
langchain==0.1.16
langchain-community==0.0.32
langchain-text-splitters
markdown
pyyaml
python-dotenv==1.0.1
pytest>=7.0
pytest-asyncio>=1.0
pypdf==4.2.0
requests
sentence-transformers
tqdm==4.66.4
unstructured>=0.18.5
